* {
	margin: 0;
	padding: 0;
}

.my_img {
	width: 450px;
	border-radius: 50%;
	border: 2px solid black;
}

p {
	font-size: 30px;
}

.first_row {
	width: 30%;
	text-align: center;
}

.second_row {
	width: 70%;
	text-align: center;
}

table,
th,
td {
	border: 1px solid black;
	text-align: center;
	border-collapse: collapse;
	
}

th,
td {
	padding: 10px;
}

th {

	margin: 10px;
}

.define {
	text-align: left;

}

table {
	width: 100%;
}

.footer{
	background-color: darkgrey;
}
.footer_last{
	font-size: 20px;
	text-align: center;
	text-decoration: none;
	padding-top: 15px;
}
